@media screen and (max-width: 460px){

  #kalkulator {
    width: 360px;
    height: 1037px;

  }

  #kalkulator form {
    width: 359px;
    height: 968px;
  }

  form div {
    width: 301px;
    margin-left: 29px;
    margin-right: 29px;
  }
  #sumaUbezpieczen {
    border-bottom: solid 1px #f1f1f1;
    height: 196px;
  }
  #sumaUbezpieczen h2{
    padding-bottom: 0;
  }

  input[type=range] {
    margin-top: 18px;
    width: 300px;
  }
  input[type="range"]::-moz-range-track {
    width: 300px;
  }

  input[type=range]::-ms-track {
    width: 300px;
  }
  .granica:nth-of-type(2){
    display: inline-block;
    float: right;
  }
  .granica:last-of-type {
    display: none;
  }
  #kontyner {
    margin-top: 25px;
    margin-left: 0;
    display: inline-block;
    clear: both;
    height: 52px;
  }
  .strzalka {
    display: inline-block;
    width: 48px;
    height: 50px;
    background-color: #ffffff;
    border: solid 1px #9dbdc6;
    margin-left: 0;
    margin-right: 0;

  }
  .fa-angle-left, .fa-angle-right {
    font-size: 36px;
    color: #9dbdc6;
    text-align: center;
    line-height: 50px;
  }

  .strzalka:first-of-type {
    float:left;
  }
  #podpis {
    text-align: center;
    float:left;
    display: inline-block;
    margin: 0;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: #ffffff;
    border-top: solid 1px #daeaef;
    border-bottom: solid 1px #daeaef;
  }
  label {
    width: 300px;
    margin-top: 17px;
  }

  #raty label:first-of-type {
    margin-top: 28px;
  }
  #szkoda label:first-of-type {
    margin-top: 28px;
  }
  #brakWyboru {
    text-align: center;
    width: 220px;
    display: inline-block;
    margin-top: 34px;
    margin-left: 40px;

  }
  #obliczRate {
    margin-top: 82px;
    height: 164px;
    width: 359px;
  }
  button {
    border-radius: 29px;
    margin-top: -58px;
    width: 300px;
    height: 58px;
  }
  #wynik{
    margin-top: 36px;
  }
}
